body {
  background-color: #f8f8f8;
  margin: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

header {
  background-color: #3498db;
  background-image: url("wood.jpg");
  color: black;
  padding-left: 105px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 128px;
  font-size: 2em;
  text-align: center;
}

#header {
  text-align: center;
}

#wrapper {
  background-color: #f8f8f8;
  padding: 0;
}

form {
  max-width: 400px;
  margin: 20px auto;
}

label {
  display: block;
  margin-bottom: 8px;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 4px;
  margin-bottom: 0;
  width: 40%;
  vertical-align: bottom;
}

textarea,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
